.promo-grey {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.w-80px {
    width: 80px;
}

@media (max-width: 900px) {
    .w-100-900 {
        width: 100%;
    }
    .px-24-900 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
